@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';





.bg-body{
    background: #1A1A1A;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='currentColor' fill-opacity='0.9'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E"); */
    background-size: cover;
}
.bg-80{
    position: relative;
}
.bg-80::before{
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    content:'';
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-image: url("/assets/images/80s-background.jpg");
    background-position: center;
    background-size: cover;
}

.cursor-80{
    cursor: url('/assets/icons/mouse-cursor.svg') , pointer;
}

.header-name{
    font-size:96px;
}

.transition-opacity{
    transition: opacity 250ms ease-in;
}

.star-wars-text{
    /* transform: perspective(300px) rotateX(20deg); */
}

.label-language{
    @apply py-1 px-2 inline-block rounded-full ml-2 mt-2
}

.skills-list{
    @apply list-none pl-5 text-lg;
}
.skills-list > li {
    @apply mt-4;
    position: relative;
}
.skills-list  li  span{
    display: inline-block;
    position: relative;
    z-index: 2;
}
.skills-list  li  span::after{
    z-index: -1;
    content: '';
    left:5px;
    right:-5px;
    bottom:0;
    opacity: .5;
    height:15px;
    position: absolute;
    @apply bg-red-500;
}

.death-star{
    transform: translateZ(0);
    animation: deathStar 3s ease-in infinite;
}
@keyframes deathStar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.death-star-container{
    left:-200px;
    bottom:-200px;
    @apply absolute left-0 bottom-0 text-gray-800 mx-auto text-center;
}
/* .death-star-container{
    animation: traverse 45s ease-in infinite;
}
@keyframes traverse {
    0%{
        transform: translateX(0px)
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0px);
    }
} */
